Repository ironcore-dev/ipxe, pull requests merged in 2024-03, with the labels that each got.

#211 Switch to `ipam.metal.ironcore.dev` API
  Dockerfile
  Makefile
  README.md
  config/crd/bases/inventories.metal.ironcore.dev.yaml
  config/crd/bases/ips.ipam.metal.ironcore.dev.yaml
  config/crd/bases/networks.ipam.metal.ironcore.dev.yaml
  config/crd/bases/subnets.ipam.metal.ironcore.dev.yaml
  config/default/apiserver.yaml
  config/samples/ipam/ip1.yaml
  config/samples/ipam/ip2.yaml
  config/samples/ipam/network.yaml
  config/samples/ipam/subnet.yaml
  docs/documentation.md
  go.mod
  go.sum
  main.go
  pkg/k8s.go
  pkg/suite_test.go
Labels: documentation, enhancement, size/L, controllers

#210 Fix all actions
  .github/workflows/auto-merge.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/kustomize.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release-drafter.yml
  .github/workflows/size-label.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  README.md
  config/crd/bases/inventories.metal.ironcore.dev.yaml
  config/crd/bases/ips.ipam.metal.ironcore.dev.yaml
  config/crd/bases/networks.ipam.metal.ironcore.dev.yaml
  config/crd/bases/subnets.ipam.metal.ironcore.dev.yaml
  config/default/apiserver.yaml
  config/samples/ipam/ip1.yaml
  config/samples/ipam/ip2.yaml
  config/samples/ipam/network.yaml
  config/samples/ipam/subnet.yaml
  docs/documentation.md
  go.mod
  go.sum
  hack/setup-git-redirect.sh
  main.go
  pkg/k8s.go
  pkg/suite_test.go
Labels: bug, documentation, enhancement, size/L, controllers

#213 Feature/reuse compliance
  .github/workflows/reuse.yml
  .reuse/dep5
  LICENSE
  LICENSES/Apache-2.0.txt
  Makefile
  README.md
  go.mod
  go.sum
  hack/boilerplate.go.txt
  hack/license-header.txt
  hack/tools.go
  main.go
  pkg/config.go
  pkg/constants.go
  pkg/k8s.go
  pkg/prometheus.go
  pkg/service.go
  pkg/service_test.go
  pkg/suite_test.go
  pkg/util.go
Labels: documentation, enhancement, size/L, controllers

#214 Add reuse, license and PR badges
  README.md
  docs/documentation.md
Labels: documentation, enhancement, size/S

#216 Remove unnecessary references and files
  config/fra3/cert_patch.json
  config/fra3/ingress_patch.json
  config/fra3/kustomization.yaml
  config/fra4/cert_patch.json
  config/fra4/ingress_patch.json
  config/fra4/kustomization.yaml
  docs/documentation.md
Labels: bug, documentation, size/L, controllers
